.pageInit {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoInit {
  width: 218px;
  height: 279px;
}

.practice {
  margin-top: 260px;
}

.practice input {
  width: 345px;
  height: 49px;
  margin-bottom: 35px;

  border: 1px solid #000000;
  border-radius: 12px;

  padding: 15px;
}

.practice input::placeholder {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

.practice button {
  cursor: pointer;

  width: 345px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: 3px solid #ffef61;
  border-radius: 12px;
}

.practice button:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
}

.practice p {
  margin-right: 7px;
  font-weight: 700;
  font-size: 20px;
}
